.card_additional-info_coding-skills {
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;
    justify-content: center;
}

.card_additional-info_coding-skills {
    button {
        background-color: #444444;
        border: 1px solid #FFFFFF;
        color: #ffffff;
        height: 26px;
        width: 26px;
        border-radius: 50%;
        font-size: 17px;
    }
}

.card_additional-info_coding-skills {
    progress {
        -webkit-appearance: none;
        width: 450px;
    }
    h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.card_additional-info_coding-skills {
    progress::-webkit-progress-bar {
        background-color: #222222;
        border: 2px solid royalblue;
        height: 14px;
        border-radius: 9px;
    }
}

.card_additional-info_coding-skills {
    progress::-webkit-progress-value {
        background-color: royalblue;
        border: 1px solid #222222;
        height: 10px;
        border-radius: 9px;
    }
}

.card_additional-info__button-to-main__img {
    background-color: #222222;
    border-radius: 50%;
    height: 36px;
    width: 36px;
}

.card_additional-info_coding-skills_add-panel {
    display: flex;
    flex-direction: row;
    background-color: #222222;
    border-radius: 9px;
    border: 1px solid #222222;
}

.card_additional-info_coding-skills_add-panel_input-skill-name,
.card_additional-info_coding-skills_add-panel_input-skill-value,
.card_additional-info_coding-skills_add-panel_add-button {
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #222222;
    border-radius: 9px;
    border: 1px solid #FFFFFF;
    font-size: 15px;
    color: #ffffff;
    width: 125px;
}

.card_additional-info_coding-skills_add-panel_input-skill-name,
.card_additional-info_coding-skills_add-panel_input-skill-value {
    width: 219px;
    margin-right: 3px;
}

.card_additional-info_coding-skills_add-panel_add-button {
    margin-left: 3px;
}

.card_additional-info__button-to-main {
    margin-left: 300px;
    position: absolute;
    top: 541px;
}
