@import "./reset.scss";

body {
    font-family: Helevetica, sans-serif;
    font-size: 20px;
    line-height: 1.15;
    color: #ffffff;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display:flex;
    background-color: #444444;
    border-radius: 30px;
    min-height: 595px;
    min-width: 1127px;
}

.card_personal-info {
    margin-top: 56px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-radius: 38px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    min-width: 380px;
}

.card_personal-info_main {
    font-size: 20px;
    text-align: center;
}

.card_personal-info_main img {
    border-radius: 50%;
}

.card_personal-info_main_employee-avatar img {
    height: 180px;
    box-shadow: 12px 12px #87867f;
}

.card_personal-info_main_employee-name {
    margin-top: 24px;
    margin-bottom: 0;
    font-size: 38px;
    font-weight: bold;
}

.card_personal-info_main_employee-position {
    margin-top: 8px;
    margin-bottom: 16px;
    font-weight: normal;
}

.card_personal-info_main_employee-social-media {
    justify-content: center;
    margin-top: 16px;
}

.card_personal-info_main_employee-social-media img {
    height: 24px;
}

button {
    margin-top: 55px;
    margin-bottom: 66px;
    background-color: #444444;
    border: 3px solid #FFFFFF;
    color: #ffffff;
    height: 46px;
    width: 168px;
    border-radius: 40px;
    font-size: 17px;
}

.card_personal-info-copyright {
    font-size: 14px;
}

.card_additional-info {
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    background-color: #222222;
}

.card_additional-info_basic {
    text-align: center;
}

.card_additional-info_basic_employee-name {
    font-size: 62px;
    font-weight: bold;
    margin: 8px;
}

.card_additional-info_basic_employee-position {
    font-weight: normal;
    margin: 0;
}

.card_additional-info_professional-skills,
.card_additional-info_contact-info {
    display: none;
}

